
<h1 class="title">productos</h1>

<form id="form">

</form> 

<p id="products"></p> 

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>




{{!-- 


<div>
  <h1>todos los productos!</h1>
  <div>
    <ul>
      {{#each products}}
        <li>
          <h2> {{this.titulo}} </h2>
          <h3> precio: ${{this.precio}} </h3>
        </li>
      {{/each}}
    </ul>
  </div>
</div> --}}